<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/css/css.css">
    <title></title>
</head>
<body>
   
    
    <div id ="logout">
        <a href="{{url_for('login')}}" >logout</a>
    </div><br><br>

    {% include "uplode.html" %}
    <br>
    {% include "delete.html" %}
    <div class="center">

        <h1>Recipes</h1>

                {% for recipe in recipes %}
                
                    <img style="border-radius: 4rem;" width="1000px" height="300px"  src="static/img/{{ recipe[0] }}" ></img>
                   
                    <h2>{{ recipe[1] }}</h2>
                    <h2>{{ recipe[2] }}</h2>
                    <h2>{{ recipe[3] }}</h2>
                    <h2>{{ recipe[4] }}</h2>
                    <br>
                {% endfor %}

    </div>
    <video id="video" autoplay loop muted>
        <source src="static/video/3.mp4" type="video/mp4">
        
    </video>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="static/js/script1.js"></script> 
    
</body>
</html>