
<form method = 'POST' id="uplode_form"action="{{ url_for('uplode')}}" onchange="validateFileType()" enctype="multipart/form-data" class="needs-validation">
    <div>
        <p><input id="image" type="file" name="file" class="form-control" accept=".jpg,.png,.jpeg" required> <br>

          <label for="name"  id="name1">Name</label><br>
          <input type="text"  name="name" id="name" rows="5" required > </input>
          <span>*</span><br>

          <label for="ingredients"  id="ingredients1">ingredients</label><br>
        <input type="text"  name="ingredients" id="ingredients" rows="5" required > </input>
        <span>*</span><br>

          <label for="instructions"  id="instructions1">instructions</label><br>
          <input type="text"  name="instructions" id="instructions" rows="5" required > </input> <span>*</span><br>

          <label for="servings"  id="servings1">servings</label><br>
          <input type="text"  name="servings" id="servings" rows="5" required > </input><span>*</span>
    </div>
      <input type="submit" value="Submit" style="color: green;">
  </form>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="static/js/script1.js"></script> 
  <script type="text/javascript">
    // search in the below wesite for accept image from user 
    // https://stackoverflow.com/questions/3828554/how-to-allow-input-type-file-to-accept-only-image-files
    function validateFileType(){
        var fileName = document.getElementById("image").value;
        var idxDot = fileName.lastIndexOf(".") + 1;
        var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
        if (extFile=="jpg" || extFile=="jpeg" || extFile=="png"){
            //TO DO
        }else{
            alert("Only jpg/jpeg and png files are allowed!");
        }   
    }
</script>

