body{
/* background-color: darkturquoise; */
background-image: url("static/images/2.jpg");


}


.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    border:black;
    background-color: white;
    border-radius: 2rem;
   
  }
  #comment{

    width: 30%;
    height: 100px;
    padding: 10px;
    background-color: #d0e2bc;
  }
#logout{
  text-align: center;
  right: 0px;
  background-color:chartreuse;
  border: 4px solid black;
  border-radius: 2rem;
  padding: 5px 10px;
  display:block;
  position: absolute;
 
}
#ingredients{

  width: 500px;
  height: 40px;
}

#instructions{

  width: 500px;
  height: 40px;
}

#servings{

  width: 500px;
  height: 40px;
}
#image{
 width: 500px;
}
#video{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
